.sidenav {
    background-color: #06207A;
    height: 100%;
    width: 18%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav::-webkit-scrollbar {
    display: none;
}

.sidenav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ehr-active-menu {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 100%;
    padding: 4%;
}

.ehri-menu {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 4%;
    margin-right: 4%;
}

.ehr-bottom-logout {
    position: static;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin-top: 100%;
}

.ehr-active-logout {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 4%;
}

.dashboard {
    overflow-x: hidden;
}