

table {
    margin-top: 10px;
    max-height: 300px;
    overflow: auto;
    width: 100%;
}

th.mat-header-cell {
    color :#727894;
    text-align: justify;
    margin-left: 20px;
    margin-right: 100px;
    background: #F9F9F9;
}

tr.mat-row {
    margin: 5% 5% 0 0;
}

.mat-table {
    border-radius: 10px;
}

tr {
    background: #F9F9F9;
    border-radius: 14px 14px 0px 0px;
    border-top: 1px solid gray;
    padding: 5% 5% 0 0;

}

td { 
    color: #727894;
    font-weight: 500;
    font-size: 16px;
    line-height: 149.3%;
    align-items: center;
    letter-spacing: 0.01em;
    padding: 10%;
}


td.mat-cell {
    padding: 16px 0;
    border: 1px solid #F6F6F6;
    margin-right: 30px;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
}


   
table {
     border-spacing: 0 8px !important;
} 