<style>
    .sidenav {
        width: 18%;
        background-color: #06207A;
        height: 100vh;
        overflow-y: auto;
    }

    .sidenav::-webkit-scrollbar {
        display: none;
    }

    .sidenav {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    #dashoard-container {}

    .ehr-active-menu {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        width: 100%;
        padding: 4%;
    }

    .ehri-menu {
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 4%;
        margin-right: 4%;
    }

    .ehr-bottom-logout {
        position: static;
        right: 0px;
        left: 0px;
        bottom: 0px;
        margin-top: 100%;
    }

    .ehr-active-logout {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        width: 100%;
        padding-top: 7%;
        padding-bottom: 7%;
        padding-left: 4%;
        padding-right: 4%;
        margin-left: 2%;
    }

    #bell-icon {}

    #bell-icon:hover {
        cursor: pointer;
    }

    /* the header for the patient list */
    .reg-header {
        width: 100%;
        top: 0px;
        position: static;
        background: black;
        height: 5%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    }

    .reg-header-search {
        border-radius: 20px;
    }

    .search {
        border: none;
        width: 60%;
        height: 60px;
        margin-top: 5%;
        border-radius: 15px;
        margin-top: 1.5%;
        margin-bottom: 2%;
        padding-left: 3%
    }

    .bell {
        border-radius: 100%;
        padding: 5%;
    }

    /* .bell-circle {
        border-radius: 100%;
        background-color:white;
        box-shadow: 0px 0px;
        height: 600px;
    } */

    .profile-image {
        border-radius: 100%;
        width: 100px;
        height: 100px;
    }
</style>
<div class="row">
    <nav class="sidenav">
        <ul style="list-style: none;" class="col-lg-12 col-md-3 col-sm-12 ">
            <img src="assets/images/blurwhite.png" class="container" style="margin-top:20%; margin-bottom: 20%;">

            <li class="ehri-menu ehr-active-menu">
                <a routerLink="/dashboard/overview" style="text-decoration: none;">
                    <img src="assets/images/3user.png" style="margin: 6%;">
                    <span class="nav-label">Register Patient</span>
                </a>
            </li>

            <li class="ehri-menu">
                <a routerLink="/dashboard/overview" style="text-decoration: none;">
                    <img src="assets/images/add-user.png" style="margin: 6%">
                    <span class="nav-label">Patient List</span>
                </a>
            </li>


            <li class="ehr-bottom-logout container">
                <h6 style="color:white; text-align: center; font-size: 16px; margin-bottom: 10%;">Derlinton Robert</h6>
                <a routerLink="/login" style="text-decoration: none;" class="ehr-active-logout">
                    <img src="assets/images/log-off.png" style="margin: 3%">
                    <span style="padding: 20%">Logout</span>
                </a>
            </li>

        </ul>
    </nav>
    <div class="col reg-header">
        <div style="width: 100%">
            <input type="text" placeholder="Search for patient" class="search">
            <div style="float: right;">
                <span class="bell-circle">
                    <img [src]="profile_image" [alt]="username" style="width:80px" height="80px">
                </span>
                <img [src]="profile_image" [alt]="username" style="width:80px" height="80px">
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-8 col-sm-12 col-xl-12">
        <router-outlet></router-outlet>
    </div>
</div>