<div class="conatiner" style="width: 100%; height:100vh; overflow-x: hidden;">
    <div class="row">
        <div class="col-sm-12 col-lg-6 col-md-6" style="background-color: rgb(241, 241, 241)">
            <!-- side menu bar -->
            <ng-container #sidemenu></ng-container>
            
        </div>

        <div class="col-sm-12 col-lg-6 col-md-6" style="margin-top: 6%;">
            <!-- <router-outlet></router-outlet> -->
            <!-- header -->
            <!-- <ng-container *ngIf="header1; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
                <ng-container #headerSearchContainer></ng-container>
            </ng-template>
            <ng-template #elseTemplate>
            </ng-template> -->
            <!-- dashoard content -->
        </div>
    </div>
</div>