.reg-header {
    width: 100%;
    top: 0px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.ehr-input-text {
    overflow: hidden;
    height: 60px;
    border: 1px solid #E4E8F0;
    box-sizing: border-box;
    border-radius: 15px;
    padding-left: 3%;
    padding-right: 3%;
    outline: none;
}

.ehr-btn {
    height: 60px;
    border: 10px solid #5E8CEE;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    outline: none;
    width: 200px;
    text-align: center;
    margin-top: 5%;
    margin-right: 3%;
}

.ehr-btn-default {
    color: #c2c2c4;
    font-weight: bold;
    background-color: gray;

}
.ehr-btn-primary {
    background-color: #2C61E4;
    font-weight: bold;
}

.ehr-secondary {
    color: #2C61E4;
    font-weight: bold;
    background-color: white;
    border: 1px solid #5E8CEE;
}

.steps {
    margin-left: 5%;
}
select > option {
    // font-weight: bold;
    color: #06207A;
    font-size: 16px;
}
.btn-shadow {
    box-shadow: 0px 12px 24px -5px rgba(44, 97, 228, 0.33);
    border-radius: 8px;
}

select { 
    // font-weight: bold;
    color: #06207A;
    font-size: 16px;
}


.overlay {
    position: fixed;
    display: block; 
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer;
}

.ehr-message-card {
    background: #FFFFFF;
    border: 0.3px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 20px;
    height: 40%;
    margin-top: 10%;
    width: 40%;
}

.ehr-message-card > p {
    font-weight: 600;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #04194D;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15%;
}

.ehr-message-card > button {
    margin-left: 31%;
    margin-right: 20%;
    margin-top: 5%;
}